* {
  font-family: "FiraCode Nerd Font Mono", monospace;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#workspaces button {
  padding: 0 8px;
  background: transparent;
  border: none;
  border-radius: 0;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button.urgent {
  color: @red;
}

#submap {
  color: @yellow;
}

#submap,
#window,
#clock,
#wireplumber,
#network,
#mpris,
#gamemode,
#privacy,
#tray {
  padding: 0 8px;
}

#mpris {
  color: @green;
}

#gamemode {
  color: @peach;
}

#privacy {
  color: @red;
}
